# SPDX-FileCopyrightText: 2022 Noah Fontes
#
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Sleep
DefaultDependencies=no
RefuseManualStart=yes
StopWhenUnneeded=yes
